<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mrbluyee.nfccodebook">

    <uses-sdk android:minSdkVersion="10"/>
    <uses-permission android:name="android.permission.NFC"/>
    <uses-feature android:name="android.hardware.nfc" android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launch"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launch"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED"/>
            </intent-filter>
            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/tech_list"/>
        </activity>
        <activity android:name=".activity.TagInfoActivity">
        </activity>
        <activity android:name=".activity.CreatePasswdActivity">
        </activity>
        <activity android:name=".activity.ChangePasswdActivity">
        </activity>
        <activity android:name=".activity.DeleteConfirmActivity">
        </activity>
        <activity android:name=".activity.DecodeActivity">
        </activity>
        <activity android:name=".activity.ListViewActivity">
        </activity>
        <activity android:name=".activity.ListContentViewActivity">
        </activity>
        <activity android:name=".activity.RandomPasswdActivity">
        </activity>
        <activity android:name=".activity.WriteToTagActivity"
            android:launchMode="singleTask"
            android:theme="@style/dialogstyle">
        </activity>
    </application>

</manifest>